$aqua-spray: linear-gradient(25deg, #00d2ff 0%, #3a47d5 100%);
$vital-ocean: linear-gradient(25deg, #1CB5E0 0%, #000851 100%);
$button-ocean: linear-gradient(165deg, #ffffff 0%, #025b84 100%);
$deep-blue: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
$malibu-beach: linear-gradient(25deg, #4facfe 0%, #00f2fe 100%);
$morpheus-den: linear-gradient(25deg, #30cfd0 0%, #330867 100%);
$fly-high: linear-gradient(to bottom, #48c6ef 0%, #6f86d6 100%);
$deep-space: linear-gradient(10deg, #000000, #c1c1c1);

$section-primary-background: $vital-ocean;
$progress-bar-background: $deep-blue;
$text-background-color-highlight: $deep-space;