.uk-progress {
  background-color: #ffffff !important;
  -webkit-appearance: progress-bar;
  -moz-appearance: progressbar
}

.uk-progress::-webkit-progress-value {
  background-image: $progress-bar-background;
}

.uk-progress::-moz-progress-bar {
  background-image: $progress-bar-background;
}